a {
	color: #e5382b;
}

#header nav ul.nav-main li.dropdown:hover > ul {
	opacity: 1;
	visibility: visible;
}

#header nav ul.nav-main ul.dropdown-menu, #header nav ul.nav-main li.dropdown.open .dropdown-toggle, #header nav ul.nav-main li.active a, #header nav ul.nav-main li > a:hover, #header nav ul.nav-main li.dropdown:hover a {
	background-color: #e5382b !important;
}

#header .social-icons {
	margin-left: 10px;
	margin-top: 13px;
}

ul.social-icons li {
	border-radius: 0;
}

#header nav ul.nav-main li span {
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 13px;
}

#header nav ul.nav-main li a.btn {
	color: #FFF;
	background-color: #e5382b !important;
	padding: 8px 13px;
}

#header nav ul.nav-main li a.btn:hover {
	background-color: #F24D40 !important;
}

#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
	background-color: #F24D40 !important;
}